[Arena] StartTime incorrectly persisted

Some examples:

Start Time:
**1563911982**
07/23/2019 @ 7:59pm (UTC)
2019-07-23T19:59:42+00:00 in ISO 8601
Tue, 23 Jul 2019 19:59:42 +0000 in RFC 822, 1036, 1123, 2822
Tuesday, 23-Jul-19 19:59:42 UTC in RFC 2822
2019-07-23T19:59:42+00:00 in RFC 3339

End Time:
**1563975301**
07/24/2019 @ 1:35pm (UTC)
2019-07-24T13:35:01+00:00 in ISO 8601
Wed, 24 Jul 2019 13:35:01 +0000 in RFC 822, 1036, 1123, 2822
Wednesday, 24-Jul-19 13:35:01 UTC in RFC 2822
2019-07-24T13:35:01+00:00 in RFC 3339


Start Time:
**1563914267**
07/23/2019 @ 8:37pm (UTC)
2019-07-23T20:37:47+00:00 in ISO 8601
Tue, 23 Jul 2019 20:37:47 +0000 in RFC 822, 1036, 1123, 2822
Tuesday, 23-Jul-19 20:37:47 UTC in RFC 2822
2019-07-23T20:37:47+00:00 in RFC 3339

End Time:
**1563975560**
07/24/2019 @ 1:39pm (UTC)
2019-07-24T13:39:20+00:00 in ISO 8601
Wed, 24 Jul 2019 13:39:20 +0000 in RFC 822, 1036, 1123, 2822
Wednesday, 24-Jul-19 13:39:20 UTC in RFC 2822
2019-07-24T13:39:20+00:00 in RFC 3339

These two games were played today 2019-07-24 around 13.30-13.40 in ISO 8601

Possibly end time being fucked up sometimes too

Fixed with https://github.com/kelno/sunstrider/commit/8328fcac17eaef73193de4690bf770dc1cd64960 

fixed with https://github.com/kelno/sunstrider/commit/126a8c94feaa431fb832b5998820ba64b3b832e8